.CategoryList {
    list-style-type: none;
    display: flex;
    max-width: 100%;
    height: 2.5rem;
    padding-left: 0;
    margin: 5px 10px
}

.CategoryListElement {
    display: flex;
    flex-basis: 0;
    flex: 1 1 0px;
    align-items: center;
    margin: 0px 5px;
    text-decoration: none;
}

.CategoryListElement > button:hover {
    background-color: grey;
}

.CategoryListElement > * {
    height: 40px;
    width: 100%;
    text-decoration: none;
    font-size: 1.4em;
    color: honeydew;
    background-color: rgb(160, 160, 160);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}