.TopHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #333;
    color: white;
}

/* The header elements in the top half */
.UpperHeaderSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 60%;
}

.HeaderLogo {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.23em;
    width: 20%;
}

.SearchBarHolder {
    width: 60%;
    justify-content: center;
}

.Searchbar {
    width: 60%;
    height: 35px;
    font-size: 1.2em;
    text-indent: 2%;
    border-radius: 2px;
    border: none;
}

.HeaderPlaceHolder {
    width: 20%;
}

/* The header elements in the lower half */
.LowerHeaderSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
    align-items: center;
}

/* Decorating the list of links in the header */
.HeaderLinkList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.HeaderLinkList > li {
    float: left;
}

.HeaderLinkList > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.HeaderLinkList > li:hover {
    background-color: #111;
}

.HeaderLinkList > li:last-child {
    float: right;
}

.HeaderLinkList > li:last-child:hover {
    background-color: red;
}

/* .HeaderLinkList > li a:hover:not(.active) {
    background-color: #111;
} */