.TopHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
}

/* Decorating the list of links in the header */
.HeaderLinkList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 80%;
}

.HeaderLinkList > li {
    float: left;
}

.HeaderLinkList > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.HeaderLinkList > li:hover {
    background-color: #111;
}

.HeaderLinkList > li:last-child {
    float: right;
}

.HeaderLinkList > li:last-child:hover {
    background-color: red;
}

.HeaderLogo {
    font-weight: bold;
    font-size: 1.5em;
    width: 20%;
}

/* .HeaderLinkList > li a:hover:not(.active) {
    background-color: #111;
} */