.cartPage {
    display: flex;
    flex-direction: row;
}

.cartPageBottleNeckCalc {
    width: 50%;
    height: 300px;
    margin: 5px 5px 10px 10px;
}

.cartPageBottleNeckCalc > img {
    width: 90%;
}

.cartPageList {
    width: 50%;
    margin: 5px 10px 10px 5px;
}

.cartItem {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
    margin: -1px;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
}

.cartItem:first-child {
    border-top: none;
}

.cartItem:last-child {
    border-bottom: none;
}

.cartItemLeft {
    display: block;
}

.cartItemRight {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cartPrice {
    text-align: end;
    margin-right: 20px;
}

.cartItemLeft > span {
    padding: 0 20px;
}

.cartItemRight > button {
    height: 50px;
    background: none;
    border: none;
    font-size: 1.8em;
    color: teal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.emptyCartButton {
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 1.2em;
    cursor: pointer;
}

@keyframes wobble {
    0% {}
    50% { transform: rotate(5deg)}
    100% { transform: rotate(10deg) }
}

.bottleLiquid {
    transition: fill 0.4s;
}

/* Different colors to display on the bottle svg */
.whiteLiquid > .bottleLiquid {
    fill: white;
}

.greenLiquid > .bottleLiquid {
    fill: greenyellow;
}

.yellowLiquid > .bottleLiquid {
    fill: yellow;
}

.redLiquid > .bottleLiquid {
    fill: red;
}

