.CategoryResults {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

/** Regular product link boxes */

.ProductBox {
    margin: 0;
    padding: 15px 20px;
    display: flex;
    width: 20.7%;
    flex-direction: column;
    height: 250px;
}

.ProductBox > .ProductImage {
    object-fit: contain;
    width: 100%;
    height: 65%;}

.ProductBox > .ProductTextBox {
    text-align: left;
    height: 25%;
    overflow: hidden;
}

.ProductTitle {
    font-weight: bold;
}

.ProductBox > .ProductPurchaseBox {
    display: flex;
    flex: row;
}

.ProductBox > .ProductPurchaseBox > .BuyButton {
    margin-left: auto;
    width: 5rem;
}

/** List-based product link boxes */

.ProductBoxVertical {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProductBoxVertical > .ProductImage {
    height: 90%;
    object-fit: contain;
}

.ProductBoxVertical > .ProductTextBox {
    text-align: left;
    overflow: hidden;
}

.ProductBoxVertical > .ProductPurchaseBox {
    display: flex;
    flex: row;
    margin-left: auto;
}

.ProductBoxVertical > .ProductPurchaseBox > .ProductPrice {
    margin-right: 50px;
}